{% extends '::base.html.twig' %}

{% block body %}
	<section class="col-md-10">
		<article>
			<h2>Titre de l'article</h2>
			<img src="{{ asset('img/image.png') }}">
			<p>Nulla ornare tempor dolor, quis molestie ligula. Nam lacinia ex sed quam malesuada, vel euismod lacus mattis. Nam a mi non purus gravida scelerisque porttitor congue risus. Nam ac vehicula sapien, nec sollicitudin nulla. Vivamus dignissim dolor vel elit lacinia, eget ullamcorper risus venenatis. Ut elementum molestie dolor et interdum.</p>
		<article>
	</section>
	<aside class="col-md-2">
		<article>
			<img src="{{ asset('img/image.png') }}">
			<h3>Titre de l'article</h3>
		</article>
		<article>
			<img src="{{ asset('img/image.png') }}">
			<h3>Titre de l'article</h3>
		</article>
	</aside>
{% endblock %}